
.turun {
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner{
    background-image: url('ft1.jpg');
    height: 45vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0,0, .6);
}

.card-title{
        justify-content: center;
        align-items: center;
}



.card .list-group::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  transition: all .3s ease-in-out;
}

.card .list-group::after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  transition: all .3s ease-in-out;
}

.card:hover .list-group::before,
.card:hover .list-group::after {
  border-color: #4C5270;
  width: 100%;
  height: 100%;
}
